body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    color: #4e555b;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto-black', sans-serif;
    font-weight: bold;
}


header, footer {
    height: 10vh;
}

hr {
    color: #1b4b72;
    height: 1px;
}

a {
    font-family: 'Roboto-black', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #040615;
    text-decoration: none;
}

.container-fluid {
    padding: 0% 6%;
}

.navbar {
    background: #1b4b72;
    background-image: -webkit-linear-gradient(top, #12273b, #1b74a8);
    background-image: -moz-linear-gradient(top,  #12273b, #1b74a8);
    background-image: -ms-linear-gradient(top,  #12273b, #1b74a8);
    background-image: -o-linear-gradient(top,  #12273b, #1b74a8);
    background-image: linear-gradient(to bottom,  #12273b, #1b74a8);
}

.navbar-light .navbar-nav .nav-link {
    background: #ffffff;
    padding: 12px 16px;
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    border-radius: 3px;
    border-color: #1b74a8!important;
    background: #1b74a8;
    color: white;
}

.navbar-light .navbar-nav .nav-link.active {
    border-radius: 3px;
    border-color: #1b74a8!important;
    background: #1b74a8;
    color: white;
}

.navbar-toggler {
    background-color: white !important;
    border: 1px solid white !important;
}

.collapse-border {
    border: 1px #ffffff solid !important;
    background: white;
    border-radius: 3px;
}

.dropdown:hover .dropdown-menu, .dropdown-item:hover {
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #1b74a8;
    padding: 0;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    color: white;
}

.dropdown-item:hover {
    background-color: #25516e;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.logo-top {
    width: auto;
    max-height: 80px;
    filter: brightness(140%);
    background: transparent;
    float: left;
}


.card-header {
    padding: 10px 10px 10px 10px;
    background-image: -webkit-linear-gradient(top, #25516e, #1b74a8);
    background-image: -moz-linear-gradient(top,  #25516e, #1b74a8);
    background-image: -ms-linear-gradient(top,  #25516e, #1b74a8);
    background-image: -o-linear-gradient(top,  #25516e, #1b74a8);
    background-image: linear-gradient(to bottom,  #25516e, #1b74a8);
    text-align: center;
    font-family: 'Roboto-black', sans-serif;
    color: white;
}

.pagination > li > a
{
    background-color: white;
    color: #25516e;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #25516e;
    border-color: #25516e;
}

.pagination > .active > a
{
    color: #1b74a8;
    background-color: #1b74a8 !Important;
    border: solid 1px #1b74a8 !Important;
}

.pagination > .active > a:hover
{
    color: white;
    background-color: #25516e !Important;
    border: solid 1px #25516e;
}

.btn-lg {
    background: #1b74a8;
    background-image: -webkit-linear-gradient(top, #25516e, #1b74a8);
    background-image: -moz-linear-gradient(top,  #25516e, #1b74a8);
    background-image: -ms-linear-gradient(top,  #25516e, #1b74a8);
    background-image: -o-linear-gradient(top,  #25516e, #1b74a8);
    background-image: linear-gradient(to bottom,  #25516e, #1b74a8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: Arial;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    border: solid #1b74a8 0px;
    text-decoration: none;
}

.btn-lg:hover, .btn-md:hover {
    background: #25516e;
    color: #fff;
    background: #1b74a8;
    background-image: -webkit-linear-gradient(top, #1b74a8, #25516e);
    background-image: -moz-linear-gradient(top,  #1b74a8, #25516e);
    background-image: -ms-linear-gradient(top,  #1b74a8, #25516e);
    background-image: -o-linear-gradient(top,  #1b74a8, #25516e);
    background-image: linear-gradient(to bottom,  #1b74a8, #25516e);
    text-decoration: none;
}

.btn-md {
    background: #25516e;
    background-image: -webkit-linear-gradient(top, #25516e, #1b74a8);
    background-image: -moz-linear-gradient(top,  #25516e, #1b74a8);
    background-image: -ms-linear-gradient(top,  #25516e, #1b74a8);
    background-image: -o-linear-gradient(top,  #25516e, #1b74a8);
    background-image: linear-gradient(to bottom,  #25516e, #1b74a8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: 'Roboto-black', sans-serif;
    color: #fff;
    font-size: 16px;
    padding: 6px 10px 5px 10px;
    border: solid #1b74a8 0px;
    text-decoration: none;
}

/*Main*/

@media (max-height: 100vh) {
    #container {
        min-height: 100vh;
    }
}

#container {
    padding: 30px 8% 0  8%;
    min-height: 70vh;
    text-align: justify;
}

/*Footer*/

#footer {
    background: #1b4b72;
    background-image: -webkit-linear-gradient(top, #1b74a8, #12273b);
    background-image: -moz-linear-gradient(top,  #1b74a8, #12273b);
    background-image: -ms-linear-gradient(top,  #1b74a8, #12273b);
    background-image: -o-linear-gradient(top,  #1b74a8, #12273b);
    background-image: linear-gradient(to bottom,  #1b74a8, #12273b);
    width: 100%;
}

.copyright {
    padding: 20px 8% 10px 8%;
    color: white;
    text-align: center;
    font-size: 0.75rem;
}

#login, #reset_password {
    padding: 5% 10%;
}

#register {
      padding: 5%;
}

.redirect_message{
    text-align: center;
}

.social-icon {
    padding: 5px;
    font-size: 1.2rem;
}

.maxim {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5;
    padding: 30px 20%;
    font-family: 'Redressed', cursive;
    color: #1b4b72;
}

.welcome_main, .main-question {
    padding: 5% 20%;
    font-size: 1.2rem;
    text-align: center;
}

.label {
    font-family: 'Redressed', cursive;
    color: #1b4b72;
    padding-bottom: 20px;
    font-size: 2rem;
}

.label_left {
    text-align: left;
}

.label_right {
    text-align: right;
}

.img-welcome {
    width: auto;
    max-height: 180px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: transparent;
    border-radius: 6px;
}

#feature {
    padding: 5% 10%;
    text-align: center;
}

.feature-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    color: lightcoral;
}

.slideshow{
    margin: 0 auto;
    padding-top: 20px;
    height: 300px;
    perspective: 1000px;
}
.content{
    margin: auto;
    width: 20%;
    perspective: 1000px;
    position:relative;
    padding-top: 50px;
    transform-style: preserve-3d;
}
.slider-content{
    width: 100%;
    position:absolute;
    float:right;
    animation: rotate 15s infinite linear;
    transform-style: preserve-3d;
}
.slider-content:hover{
    cursor: pointer;
    animation-play-state: paused;
}

.slider-content figure{
    width:auto;
    height:100px;
    border:1px solid #12273b;
    overflow:hidden;
    position:absolute;
}
.slider-content figure:nth-child(1){
    transform:rotateY(0deg) translateZ(200px);
}

.slider-content figure:nth-child(2){
    transform:rotateY(72deg) translateZ(200px);
}
.slider-content figure:nth-child(3){
    transform:rotateY(144deg) translateZ(200px);
}
.slider-content figure:nth-child(4){
    transform:rotateY(216deg) translateZ(200px);
}
.slider-content figure:nth-child(5){
    transform:rotateY(288deg) translateZ(200px);
}

.shadow{
    position: absolute;
    box-shadow: 0px 0px 0px #000;

}
.slider-content img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}
.slider-content img:hover{
    transform: scale(1.2);
    transition: all 300ms;

}

@keyframes rotate {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
